html,body{
  margin:0;
  padding:0;
  width:100%;
  height: 100%;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    
  }

 
.dm-sans{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;

 
}